*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* a > img[class="back-icon"]{
    display: inline-block; text-align: right; width: 5%;
} */
button{
    position: absolute;
    top: 10px;
    background-color: black;
    width: 8%;
    height: 4.4vh;
    cursor: pointer;
}
button span{
    font-size: large;
    color: white;
}
input{
    width: 90%;
    font-size: medium;
    padding: 5px 5px 5px 5px;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: justify;
    padding: 5px 5px 5px 5px;
}
.back-icon{
    margin-right: 10px;
}
.chat-area header {
    display: flex;
    align-items: center;
}
.chat-incoming{
    float: left;
    width: 60%;
    background-color: antiquewhite;
    border-radius: 10px;
}
.chat-outgoing{
    float: right;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.profile_pic{
    float: left;
    width: 5%;
    border-radius: 50%;
    margin-right: 10px;
}
.row{
    width: 40vw;
    height: 80vh;
    background-color: hsl(240, 50%, 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px hsl(240, 10%, 30%);
    overflow-y: auto;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    position: relative;
    border: 2px solid red;
    width: 100%;
    /* padding: 10px 10px 10px 10px; */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{
        width: 50%;
    }
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
}